body {
  font-family: sans-serif;
}

input[type="text"],
input[type="number"] {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 8px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

/* Estilo geral para as seções dos veículos */
.veiculo-container {
  margin-bottom: 30px; /* Espaço entre as seções */
  text-align: center; /* Centraliza o conteúdo */
}

/* Estilo para o contêiner da imagem */
.imagem-container {
  margin-bottom: 15px; /* Espaço entre a imagem e as opções */
}

/* Estilo para a imagem */
.veiculo-imagem {
  width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
  border: 2px solid #ddd; /* Borda suave */
  border-radius: 8px; /* Bordas arredondadas */
  animation: moverImagem 5s linear infinite; /* Adiciona a animação */
}

/* Estilo para as informações do veículo */
.veiculo-info {
  margin-top: 10px;
  font-weight: bold;
}

/* Animação de movimento */
@keyframes moverImagem {
  0% {
    transform: translateX(0); /* Início: sem movimento */
  }
  50% {
    transform: translateX(20px); /* Meio: move 20px para a direita */
  }
  100% {
    transform: translateX(0); /* Fim: retorna à posição original */
  }
}